@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="ContactBody">

    <div>

        <address>   
            44 Cheshire Drive<br />
            Belleville, IL 62223<br />
            <abbr title="Phone">P:</abbr>
            618-593-2809
        </address>

        <address>
            <strong>GitHub</strong>   <a href="www.Github.com/Steven2171989">Github.com</a><br />
            <strong>Linkedln</strong> <a href="https://www.linkedin.com/in/steven-rodriguez-068303176/">Linkedln.com</a>
        </address>
    </div>
    <img src="~/Images/Senior.jpg" class="ContactPic" />
</div>
